.nav {
    grid-area: n;
    background-color: lightsalmon;
    padding: 20px;
}
.item a {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
.item a:hover {
    color: gold;
}
.item a.active {
    color: gold;
}