.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItems {
    padding: 10px;
}
.dialogsItems .dialog{
    text-decoration: none;
    color: white;
}
.dialog {
    display: flex;
    flex-direction: row;
}
.dialog a {
    align-self: center;
    text-decoration: none;
    color: white;
}
.dialog a:hover {
    color: gold;
}
.dialog a.active {
    color: gold;
}
.dialog img {
    width: 50px;
    border-radius: 5px;
    margin: 5px;
}
.messages {
    padding: 10px;
}
.messages .message {
    margin: 10px auto;
}